<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">
      <button type="button"
              class="btn btn-primary btn-sm text-white btn-add-category">
        <i class="fas fa-plus mr-1"></i>New
      </button>
    </h1>
  </div>
  <div class="card shadow mb-4 border-bottom-primary">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>#</th>
            <th>Category name</th>
            <th>Product name</th>
            <th>Unit price</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.Category.category_name }}</td>
            <td>{{ product.product_name}}</td>
            <td>{{ product.unit_price }}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
